/*Header*/
.top-nav {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  background-color: var(--white);
  color: var(--sec-text);
  padding: unset;
  align-items: center;
  font-size: var(--size-16);
}
.navigation {
  display: flex;
}
.top-nav .navigation {
  align-items: center;
  width: 100%;
  padding: var(--size-16) var(--size-32);
}

.navigation .nav-brand {
  font-size: var(--size-24);
  color: var(--primary-color);
  padding: 0 var(--size-32);
}
.navigation .link {
  color: var(--sec-text);
  text-decoration: none;
}
.navigation .link-active {
  font-weight: bold;
}
/* footer */
.footer {
  background-color: var(--dark-color);
  padding: var(--size-12);
  text-align: center;
  color: var(--white);
}

.footer .link {
  color: var(--white);
}

.footer ul {
  padding-inline-start: 0px;
}
