.card-categories {
  max-width: 120rem;
}
.list-non-bullet .cart.card-container {
  width: 56rem;
  border: var(--size-16);
  cursor: default;
}
.card-action {
  padding: var(--size-8);
}
.card-img-border {
  border-radius: var(--size-16);
}
.card-cost {
  font-size: var(--size-24);
  font-weight: 700;
}
.img-box {
  width: 32rem;
}

@media (max-width: 768px) {
  .cart.card-container {
    width: 100%;
    flex-direction: column;
  }
  .img-box {
    width: 100%;
  }
}
