.wrapper.wrapper-cart {
  display: grid;
  grid-template-columns: 60% 1fr 10%;
}
@media (max-width: 768px) {
  .wrapper.wrapper-cart {
    grid-template-columns: 1fr;
  }
  #main-menu {
    display: none;
  }
}
